<%= raw t :welcome%>
<%=t :welcome_html%>
<%=t('welcomes.html')%>
<p><%=t('inbox',count:1) %></p>
<p><%=t('inbox',count:2) %></p>

<%= t :hello%>
<%=t(:currency, price: 100)%>
<p id="notice"><%= notice %></p>

<h1><%=t '.title'%></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Comments', article_comments_path(article)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
